section.be-prolific {
  h2 {
    @include max-breakpoint(screen-md) {
      margin-top: 1.5em;
    }
    @include max-breakpoint(screen-sm) {
      margin-top: 2.5em;
    }
  }
	img.iphone-image {
		margin-top: -120px;
		padding-right: 40px;
    transform: translateY(450px);
    transition: transform 1s;
    &.animate {
      transform: translateY(0);
    }
    @include max-breakpoint(screen-md) {
      margin-top: -55px;
    }
    @include between-breakpoints(700px, 800px){
      margin-top: 0;
    }
    @include between-breakpoints(40.063em, 699px){
      margin-top: 100px;
    }
    @include max-breakpoint(screen-sm) {
      display: none;
      visibility: hidden;
    }
	}
  a.button {
    @include max-breakpoint(screen-sm) {
      margin-bottom: 55px;
    }
  }
}