section.our-team {
	p, h1, h3, h5 {
		font-weight: $weightLight;
		color: $darkGr;
	}
	hr {
		border-right: solid $footerFont;
		border-width: 1px;
		@include max-breakpoint(tablet-horizontal) {
			margin-top: 0;
		}
	}
	.hide-for-large-up {
		h1 {
			background-color: $welcomeBg;
			text-align: center;
			height: 100px;
			margin: -19px 0 50px 0;
			line-height: 3;
			@include min-breakpoint(screen-sm) {
				line-height: 2;
			}
		}
	}
	.large-8.columns {
		h1 {
			margin-top: 40px;
			margin-bottom: 65px;
		}
		h5 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 30px;
		}
	}
	.contact {
		background-color: $welcomeBg;
		height: 100%;
		border-radius: 4px;
		margin-right: -10px;
		margin-top: 40px;
		div {
			padding: 20px 40px;
			h3 {
				margin-top: -2px;
			}
			p:last-child {
				margin-bottom: -2px;
			}
		}
	}
	.large-8.columns {
		p:last-child {
			margin-bottom: 200px;
		}
	}
	@include max-breakpoint(screen-sm) {
		.large-8.columns {
			h1 {
				line-height: 3;
			}
			p:last-child {
				margin-bottom: 80px;
			}
		}
	}
}