.arrow-right {
	float: right;
	margin: 5px 5px 0 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;	
	border-left: 7px solid $rightArrow;
}
section.slide-show {
	p, h3, h6 {
		font-weight: $weightLight;
		color: $darkGr;
	}
	margin-top: 10px;
	@include min-breakpoint(screen-sm) {
		margin-bottom: 50px;		
	}
	p {
		@include font-size(14px);
	}
	a {
		color: $footerBg;
		@include font-size(14px);
	}
	.row.full-width {
		border: 6px solid $teal;
	}
	.slick-slide img {
		width: 100%;
	}
	img.large-8.columns {
		padding: 0;
	}
	// for mobile view link
	.small-12.columns {
		background-color: $welcomeBg;
		font-weight: $weightLight;
		height: 50px;
		line-height: 3;
		@include max-breakpoint(screen-sm) {
			background-color: white;
			text-align: center;
			a {
				margin-top: 5px;
				@include font-size(25px);
			}
		}
	}
	.orbit-progress {
		visibility: hidden;
	}
	.caption {
		background-color: $welcomeBg;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 15px 20px;
		@include max-breakpoint(tablet-horizontal) {
			width: 100%;
		}
	}
	.description.large-4.columns {
		padding: 30px;			
		@include max-breakpoint(tablet-horizontal) {
			padding-bottom: 70px;
		}
	}
	li.clearfix.row.active {
		margin: 0;
	}
}
// @include between-breakpoints(tablet-horizontal, 1097px ) {