section.welcome {
	background-color: $welcomeBg;
	p, h2, h4, h5, {
		font-weight: $weightLight;
		color: $darkGr;
	}
	p {
		@include font-size(17px);
	}
	h5 {
		margin-bottom: -5px;
	}
	a {
		color: $teal;
	}
	.medium-7.columns {
		margin: 5% 0;
	}
	.medium-5.columns {
		margin: 5% 0;
	}
	.contact {
		background-color: white;
		height: 100%;
		border-radius: 4px;
		div {
			margin: 10px 0 -20px 20px;
			padding: 20px 20px;
		}
	}
	@include min-breakpoint(screen-lg) {
		.contact {
			margin-left: 70px;
			a {
				color: $logoColor;
			}
		}
	}
	@include min-breakpoint(screen-sm) {
		.medium-7.columns {
			margin-left: -15px;
		}
		.medium-5.columns {
			margin-right: -15px;
		}
	}
	@include max-breakpoint(screen-sm) {
		h5, h2 {
			text-align: center;
		}
		h5 {
			@include font-size(15px);
			font-weight: $weightNormal;
		}
		h2 {
			@include font-size(22px);
			font-weight: $weightLight;
			margin-bottom: 15px;
		}
	}
}