.row
	.small-12.columns
		div.contact
			div
				h4 Contact Us
				p Call 
					a(href="tel:808-843-8006") 808.843.8006 
					| to schedule an
					br
					| appointment. Our clinic is located at:
				p City Square (Kalihi)
					br
					| 1199 Dillingham Blvd.C106
					br
					| Honolulu, HI 96817