footer
	.row
		ul
			li
				p &copy;&nbsp;2011 Shiatsu Therapists of Hawaii
			li
				p 1199 Dillingham Blvd. C106 Honolulu, HI 96817
			li
				a(href="http://www.gomagames.com")
					p Site by Goma Games, LLC