.row.full-width
  nav.top-bar(data-topbar)
    ul.title-area
      li.logo
        a(href='#') 
          img(src="images/logo.png", alt="Shiatsu Hawaii Logo")
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu
    section.top-bar-section
      ul.right
        li
          a(href="#") HOME
        li
          a(href="#") SERVICES
        li
          a(href="#") OUR TEAM
        li
          a(href="#") LOCATIONS
