// Colors
// -------------------------
// index view //
$welcomeBg : #EAEAEA; // light grey
$teal	: #60CED7;
$tealFont : #44868F;
$darkGr : #666666;
// nav bar //
$btnBg : #E2F6F6;

// footer //
$footerBg : #5B5B5B; // Dark grey
$footerFont : #999999;
// $textColor : #4F4F4F;// light grey
// $lightTextColor : #B8BABB; //grey
// $headlineTeal : #00F6C2; // teal
// $darkGreyBg : #2A2E31; // dark gray
// $darkHr : #646869; // for dark gray hr line
// $buttonPrime: #34B42E; // Green
// $buttonSecondary: #4187ED; // Blue
// $darkHr : #5C6061; // dark gray
// $saveRed : #EB3656; // pinkish red
// $onHover : #F5F5F5; // light gray
// $darkNav : #24292A; // DARK gray