// Colors
// -------------------------

// index view //
$headline : #6E12EF; //purple
$textColor : #4F4F4F;// light grey
$lightTextColor : #B8BABB; //grey
$headlineTeal : #00F6C2; // teal
$darkGreyBg : #2A2E31; // dark gray
$darkHr : #646869; // for dark gray hr line
$buttonPrime: #34B42E; // Green
$buttonSecondary: #4187ED; // Blue
$darkHr : #5C6061; // dark gray
$saveRed : #EB3656; // pinkish red
$onHover : #F5F5F5; // light gray
$darkNav : #24292A; // DARK gray