// Colors
// -------------------------
// index view //
$welcomeBg : #EAEAEA; // light grey
$teal	: #60CED7;
$tealFont : #44868F;
$darkGr : #666666;
$rightArrow : #BBBBBB;
// nav bar //
$btnBg : #E2F6F6;
$hamburgerColor : #AAABAC;
$navLines : #CCCCCC;

// footer //
$footerBg : #5B5B5B; // Dark grey
$footerFont : #999999;