// Typography
// --------------------------------

// Fonts
// -------------------------
$baseFontFamily: 'Lato', sans-serif;;

// Font-Weight
// -------------------------
$weightLight: 300;
$weightNormal: 400;
$weightBold: 700;

// Font Path
$FontPath: "../../font" !default;
