html {
  p, h1, h2, h3, h4, h5, h6 {
    font-family: $baseFontFamily;    
  }
	.row.full-width {
		width: 85%;
		max-width: 100%;
	}
  // @include min-breakpoint(screen-xs) {
  //   font-size: 12px;
  // }
  // @include min-breakpoint(screen-sm) {
  //   font-size: 14px;
  // }
  // @include min-breakpoint(screen-md) {
  //   font-size: 16px;
  // }
}
