html {
  font-size: 10px;
  width: 100%;
  height: 100%;
  @include min-breakpoint(screen-xs) {
    font-size: 12px;
  }
  @include min-breakpoint(screen-sm) {
    font-size: 14px;
  }
  @include min-breakpoint(screen-md) {
    font-size: 16px;
  }
}

body {
  font-family: $baseFontFamily;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  background: #000;
  @include font-size(14px);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a {
  // color: $link-color;
  // &:hover, &:focus {
  //   color: darken($link-color, 5%);
  // }
}

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
p {
  line-height: normal;
}

section h2 {
  margin-top: 2.5em;
  margin-bottom: 0.25em;
  @include font-size(42px);
  em {
    color: $headline;
    font-style: normal;
  }
}

p {
  color: $textColor;
  font-weight: 300;
  line-height: 1.5;
  @include font-size(36px);
}

section > .content {
  text-align: center;
  position: relative;
}

body > section {
  position: relative;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

hr.row {
  position: relative;
  z-index: 99;
  margin-top: -10px;
}