footer {
	background-color: $footerBg;
	color: $footerFont;
	.row {
		text-align: center;
	}
	ul {
		list-style: none;
		padding-top: 25px;
	}
	li {
		display: inline-block;
	}
	a {
		color: $teal;
	}
	@include min-breakpoint(iphone5-horizontal) {
		li {
			border-right: 1px solid $footerFont;
			&:last-child {
				border-right: none;
			}
			p {
				margin: 0 10px;
			}
		}
	}
}