div#navBar.row.full-width {
	@include max-breakpoint(screen-xs) {
		width: 100%;
	}
}
nav.top-bar {
	margin: 3% -10px 3% 0;
	background-color: transparent;

	.expanded .title-area {
		background-color: transparent;
	}
	li.logo {
		margin-top: -10px;
		@include max-breakpoint(screen-xs) {
			margin-left: 15px;
		}
	}
	.menu-icon a span {
		color: $hamburgerColor;
		@include font-size(30px);
		@include max-breakpoint(screen-xs) {
			margin-right: 15px;
		}
	}
	section.top-bar-section ul.right {
		margin-top: 5px;
		li {
			background-color: transparent;
			margin-right: 10px;
			a {
				padding: 0 20px;
				text-align: center;
				@include font-size(14px);
				color: $tealFont;
				background-color: $btnBg;
				border: 2px solid $teal;
				border-radius: 3px;
				line-height: 2;
				&:hover {
					background-color: $teal;
					color: white;
				}
			}
		}
	}
}
