nav.top-bar {
	margin: 3%;
	background-color: transparent;
	li.logo {
		margin-top: -10px;
	}
	section.top-bar-section ul.right li {
		background-color: transparent;
		margin-right: 10px;
		a {
			text-align: center;
			color: $teal;
			background-color: transparent;
			border: 2px solid $teal;
			border-radius: 5px;
			line-height: 2;
			&:hover {
				background-color: $teal;
				color: white;
			}
		}
	}
}