div#navBar.row.full-width {
	@include max-breakpoint(screen-xs) {
		width: 100%;
	}
}
nav.top-bar.expanded {
	@include max-breakpoint(tablet-horizontal) {
		margin-bottom: 0;
	}
}

nav.top-bar {
	@include min-breakpoint(screen-xs) {
		margin: 3% -10px 3.5% 0;
	}
	background-color: transparent;
	height: 58px;
	.expanded .title-area {
		background-color: transparent;
	}
	ul.title-area {
		@include between-breakpoints(480px, 64.063em) {
			margin-bottom: 20px;
		}
	}
	li.logo {
		@include max-breakpoint(screen-xs) {
			margin-left: 10px;
		}
	}
	li.has-dropdown.not-click a {
		@include min-breakpoint(tablet-horizontal) {
			margin-right: -15px;
		}
	}
	.menu-icon a span {
		color: $hamburgerColor;
		@include font-size(30px);
		@include max-breakpoint(screen-xs) {
			margin-right: 15px;
		}
	}
	section.top-bar-section ul.right {
		@include min-breakpoint(tablet-horizontal) {
			margin-top: 15px;
		}
		li {
			background-color: transparent;
			@include min-breakpoint(screen-xs) {
				margin-right: 10px;				
			}
			a {
				padding: 0 20px;
				text-align: center;
				@include font-size(14px);
				color: $tealFont;
				background-color: $btnBg;
				border: 2px solid $teal;
				border-radius: 3px;
				line-height: 2;
				&:hover {
					background-color: $teal;
					color: white;
				}
				@include max-breakpoint(tablet-horizontal) {
					color: $footerBg;
					line-height: 3;
					background-color: transparent;
					border: none;
					border-top: 1px solid $navLines;
					&:hover {
						background-color: $welcomeBg;
						color: $footerBg;
					}
				}
			}
		}
	}
}
