extends partials/layout
block content
	section.slide-show
		.row.full-width
			.large-7.columns
				div.slide
					div
						img(src="/images/homepage_massage.jpg", alt="Massage Therapy")
					div
						img(src="/images/homepage_kinesio.jpg", alt="Kinesio Therapy")
					div
						img(src="/images/homepage_rom.jpg", alt="Rom Therapy")
			.large-5.columns
				.row
					div.slide
						div 
							h6 THE VERY BEST IN 
							h3 Massage Therapy
							p Since 1984, our clinic has led the way in the treatment of soft tissue pain &amp; injuries using the most effective massage therapy techniques: Shiatsu, Myofascial Release, Structural Balancing, Soft Tissue Release, &amp; Kinesio Taping.
							p Browse the website to find out more about our services and schedule an appointment with us!
							.small-12.columns
								a(href="#") SHIATSU MASSAGE
						div
							h6 THE VERY BEST IN
							h3 Kinesio Taping
							P Kinesio Taping is a fast &amp; effective elastic therapeutic taping method that allows us to treat a wide range of injuries using a tool that mimics our massage therapy.
							p In 2001, we were one of the first massage clinics in Hawaii to use Kinesio Taping as part of our therapy &amp; we have led the way ever since.
							.small-12.columns
								a(href="#") KINESIO TAPING
						div
							h6 EXERCISE:
							h3 The Rom Machine
							p Want a full body workout in just 9 minutes? Sound too good to be true? The ROM Machine makes it possible! Get a fast, high intensity, &amp; low impact workout using one of the most unique exercise machines ever invented.
							p Browse the website to find out more about our services and schedule an appointment with us!
							.small-12.columns
								a(href="#" ) THE ROM MACHINE
	section.welcome
		.row.full-width
			.medium-7.columns
				h5 WELCOME TO
				h2 Shiatsu Therapists of Hawaii
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sodales elementum metus, eget adipiscing tortor condimentum sed. Phasellus auctor massa sit amet justo sollicitudin aliquet. Proin pulvinar adipiscing dolor ac porttitor. Nunc fringilla sapien tempus quam ultrices elementum. Vestibulum molestie tempus purus, sit amet venenatis lectus facilisis eu. Sed diam nunc, euismod ac imperdiet sit amet, interdum at ligula. Integer at molestie neque.
			.medium-5.columns
				.row
					.small-12.columns
						div.contact
							div
								h4 Contact Us
								p Call 
									a(href="tel:808-843-8006") 808.843.8006 
									| to schedule an appointment. Our clinic is located at:
								p City Square (Kalihi)
									br
									| 1199 Dillingham Blvd.C106
									br
									| Honolulu, HI 96817