extends partials/layout
block content
	section.locations
		hr
		.row.full-width
			.large-4.columns
				h1 Locations
				h3 City Square (Kalihi)
				p Shiatsu Therapists of Hawaii
					br
					| 1199 Dillingham Blvd. C106
					br
					| Honolulu, HI 96817
					br
					a(href="tel:808-843-8006") 808.843.8006 
					br
					| View it in 
					a(href="#") Google Maps