extends partials/layout
block content
	section.services.tabs
		div.show-for-small-only
		div.show-for-medium-up

	section.services.slide-show
		div.show-for-small-only
			div.slide
				div
					img(src="/images/homepage_massage.jpg", alt="Massage Therapy")
					.small-12.columns
						a(href="#") SHIATSU MASSAGE
				div
					img(src="/images/homepage_kinesio.jpg", alt="Kinesio Therapy")
					.small-12.columns
						a(href="#") KINESIO TAPING
				div
					img(src="/images/homepage_rom.jpg", alt="Rom Therapy")
					.small-12.columns
						a(href="#" ) THE ROM MACHINE
		div.show-for-medium-up
			.row.full-width
				ul.example-orbit(data-orbit)
					li.clearfix.row
						img.large-8.columns.clearfix(src="/images/homepage_massage.jpg", alt="Massage Therapy")
						.description.large-4.columns
							h6 THE VERY BEST IN
							h3 Massage Therapy
							p Since 1984, our clinic has led the way in the treatment of soft tissue pain &amp; injuries using the most effective massage therapy techniques: Shiatsu, Myofascial Release, Structural Balancing, Soft Tissue Release, &amp; Kinesio Taping.
					li.clearfix.row
						img.large-8.columns.clearfix(src="/images/homepage_kinesio.jpg", alt="Kinesio Therapy")
						.description.large-4.columns
							h6 THE VERY BEST IN
							h3 Kinesio Taping
							P Kinesio Taping is a fast &amp; effective elastic therapeutic taping method that allows us to treat a wide range of injuries using a tool that mimics our massage therapy.
					li.clearfix.row
						img.large-8.columns.clearfix(src="/images/homepage_rom.jpg", alt="Rom Therapy")
						.description.large-4.columns
							h6 EXERCISE:
							h3 The Rom Machine
							p Want a full body workout in just 9 minutes? Sound too good to be true? The ROM Machine makes it possible! Get a fast, high intensity, &amp; low impact workout using one of the most unique exercise machines ever invented.
	section.services.explanation
		.row.full-width
			.medium-8.columns
				div.show-for-medium-up
					h2 WELCOME TO
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sodales elementum metus, eget adipiscing tortor condimentum sed. Phasellus auctor massa sit amet justo sollicitudin aliquet. Proin pulvinar adipiscing dolor ac porttitor. Nunc fringilla sapien tempus quam ultrices elementum. Vestibulum molestie tempus purus, sit amet venenatis lectus facilisis eu. Sed diam nunc, euismod ac imperdiet sit amet, interdum at ligula. Integer at molestie neque.
				h3 Next: Nutrition: Sunrider
			div.show-for-medium-up
				.medium-4.columns
					.row
						.small-12.columns
							div.contact
								div
									h3 Meet Our Team
									p Steven T. Sugai
										br
										| MSPE LMT (MAT-1392)CKTP
										br
										| Founder &amp; Owner
									h6 Amy A. Sugai
										br
										| LMT (MAT-7132)
									p Joelle M. Sugai
										br
										| LMT (MAT-10176)