extends partials/layout
block content
	section.our-team
		hr
		.row.full-width
			.large-7.columns
				h1 Meet Our Team
				h5 Steven T. Sugai
					br
					| MSPE LMT (MAT - 1392) CKTP
					br
					| Founder &amp; Owner
				p Steven Sugai is the founder &amp; owner of Shiatsu Therapists of Hawaii. Steven began his practice in 1984 as a part time business while teaching physical education for the Department of Education. Opening a small clinic in the back of his mother's barber shop in his hometown neighborhood of Nuuanu, Steve has worked tirelessly to perfect his technique and has built a reputation as a master of his craft. Shiatsu Therapists of Hawaii has grown over the years to include his family as part of the business. Steven has a Masters degree in physical Education from the University of Hawaii. He is also a Certified inesio Taping Practitioner and a volunteer athletic trainer with the University of Hawaii Athletic Department.
				h5 Jonathan R.T. Sugai
					br
					| LMT (MAT - 6298) CKTP
				p Jonathan Sugai began his masssage training in 2000 and began working with his father Steve in 2001, earning his massage license in order to have a flexible part time job, good pay &amp; the ability to set his owen hours. After graduating with a Bachelors in Marketing, Jonathen became a full time therapist and has been instrumental in the expansion of knowledge &amp; capabilitiesof Shiatsu Therapists of Hawaii with his research, experience, &amp; field work with Kinesio Taping, Myofascial Release, Structural Balancing, &amp; Personal Growth &amp; Personal Development. Jonathan assists with Kinesio Taping classes, teaches massage classes, &amp; works with personal growth seminars in his quest to excel as a "Human Balance Therapist."
				h5 Amy A. Sugai
					br
					| LMT (MAT - 7132)
				p Amy Sugai joined her husband Steve and son Jonathan in 2003. Amy chose in to the business because she thought it would be fun and had already spent years practicing on her husband whenever he needed a massage. In addition to serving a loyal base of clients, Amy supports her family by overseeing the background operations of Shiatsu Therapists of Hawaii. Amy is educated as a school teacher with her Bachelors in Education. She also has a background in personal fitness training with experience in from the Nautilus Fitness Centers back in the late 1970s and currently runs the training sessions for the ROM Machine.
				h5 Joelle M. Sugai
					br
					| LMT (MAT - 10176)
				p Joelle Sugai is the ideal combination of soccer player, soccer coach, &amp; licensed massage therapist. Joelle began her training in 2006 just after graduating from the University of Hawaii with a Bachelors in Marketing and after a full scholarship for the UH Women's Soccer where she holds the school record for 81 starts and 81 games played in four  seasons. Since earning her license in 2007, Joelle has quickly established herself as an expert with athletic injuries with her experience with Shiatsu Massage, Kinesio Taping, Myofascial Release, &amp; Structural Balancing under the direction of her father Steve &amp; brother Jonathan. Joelle has coached Girls Varsity Soccer at her Ala Mater, Aiea High School, assistant coached at Hawaii Pacific University Women's Soccer, and is currently a coach with the Leahi Soccer Club. Joelle also is a volunteer trainer with the University of Hawaii Athletic Department.
			.large-5.columns
				strong.show-for-large-up
					.row
						.medium-12.columns
							div.contact
								h4 Contact Us
								p Call 
									a(href="tel:808-843-8006") 808.843.8006 
									| to schedule an 
									br
									| appointment. Our clinic is located at:
								p City Square (Kalihi)
									br
									| 1199 Dillingham Blvd.C106
									br
									| Honolulu, HI 96817